<!DOCTYPE html>
<html>
<head></head>
<body>

  <%= form_tag('/team_members', method: :get) do %>
    Email <%= text_field_tag :email, params[:email] %>
    <%= submit_tag 'Search', name: nil %>
  <% end %>
  <%= TeamMember.first.user_id %>
  <% if @user != false  %>
    <% if @user == nil %>
      We're sorry, we don't have any users with that email address
    <% else %>
      <!-- The match form for adding to teams will go here -->
      <%= @user.first_name %> <%= @user.last_name %>

      <%= form_for @team_member do |member| %>
        <%= member.hidden_field :user_id, :value => @user.id %>
        <%= member.hidden_field :team_id, :value => @team_id %>
        <%= member.submit "Add Team Member" %>
      <% end %>

    <% end %>
  <% else %>
    Enter the email of the user you'd like to find.
  <% end %>

</body>

</html>
