<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>

  </head>
  <body>
    <%= javascript_pack_tag "NavLinks" %>

    <div class="working_on_info">
      <p>Your Team: <%= @my_team_name %></p>
      <p>Working on the project: <%= @this_project.project_name %></p>
    </div>

    <div class="center_stage">
      <% @the_squad.each do |squad_member| %>

          <!--Will refactor logic into helper methods once finished -->

          <% @this_member = TeamMember.find_by_user_id(squad_member) %>
          <!--This will only prevent teams with no users. The else portion won't run for each not present users-->
          <% if Assignment.find_by_user_id(@this_member.user.id) %>
            <% @description = Assignment.where(user_id: @this_member.user.id).pluck(:assignment_description, :assignment_deadline) %>
          <% else %>
            <% @description = ["This group member is not currently assigned to any tasks", ""] %>
          <% end %>

          <!-- Placing materials here -->
          <% if Material.find_by_user_id(@this_member.user.id) %>

            <% @material = Material.find_by_user_id(@this_member.user.id).material_name %>

          <% else %>
            <% @material = "" %>
          <% end %>
          <%= react_component("TeamMember", {first_name: @this_member.user.first_name, last_name: @this_member.user.last_name, description: @description,  material: @material}, {class: "member_listings"}) %>


      <% end %>

        <%= react_component("PostMaterials", {project_id: @this_project.id, userInfo: @current_team}) %>
        <%= react_component("PostAssignments", {project_id: @this_project.id, userInfo: @current_team}) %>

        <%= react_component("ListAllMaterials", {materials: @every_material}) %>

      <!--React component with materials form goes here "PostMaterials" must pass all group members from this project as props
      as well as the project_id and each team_members user ID. Going to just handle materials and assignments all from the same
      view page. Rerouting all over the site would get annoying for users.
     -->
    </div>
    <%= react_component("Footer") %>
  </body>
</html>
