
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <div class="new_project">
      <h1>Create A Project</h1>
      <%= form_for @project do |project| %>
      <% project.hidden_field :team_id, :value => @team_id %>
      <p>Name this project:
        <%= project.text_field :project_name %>
      </p>
      <p>When is this project due:
        <%= project.datetime_field :deadline %>
      </p>
      <p>Describe the objective of this project:
        <%= project.text_area :project_description %>
      </p>

      <%= project.submit "Begin a new project", :class => "submit_button" %>
      <% end %>
    </div>
    <div class="existing_projects">
      <p>Our projects</p>

      <% @existing_projects.each do |project| %>
        <p><%= link_to "#{Project.find(project[:id]).project_name}", login_path(:project_id => project[:id]), :method => :post, :class =>"project_links" %></p>
      <% end %>
    </div>
  </body>
</html>
